[env]
DEBUG = yes
PLOT = no
PRINT = yes

[methods]
# Weight methods: Raymer or 120
WEIGHT = 120

[output]
NEUTRAL_POINT = yes
DEFLECTIONS = yes
POLAR = yes
STALL = yes
RANGE = yes
THRUST = yes
TAKEOFF = yes
CRUISE = yes
LIFT_DIST = yes
HINGE_MOMENT = yes
FLIGHT_ENVELOPE = yes
